
</div>
<footer class="footer">
      <div class="container">
        <p>Built with <a href="http://nodejs.org/" target="_blank">Node.js</a> and <a href="http://expressjs.com/" target="_blank">Express.js</a>.</p>
        <p>Hosted on <a href="https://www.appfog.com" target="_blank">appfog</a>
      </div>
   </footer>

</body>
</html>