
</div>
<div class="footer">
      <div class="container">
        <p>Built with <a href="http://nodejs.org/" target="_blank">Node.js</a> and <a href="http://expressjs.com/" target="_blank">Express.js</a>.</p>
        <p>Hosted on <a href="https://www.appfog.com" target="_blank">appfog</a>
      </div>
   </div>
<script>
  $('pre').addClass('prettyprint');
  prettyPrint();
</script>


<!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
  window.___gcfg = {lang: 'zh-CN'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<script src="/public/libs/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>