<%- include header %>
<ul class="breadcrumb">
  <li><a href="/">首页</a> <span class="divider">/</span></li>
  <li class="active">登录</li>
</ul>
<%- include alert %>
<form method="post" class="form-horizontal">
	<div class="control-group">
 		<label class="control-label" for="name">用户名：</label><input type="text" name="name"/><br />
	</div>
  <div class="control-group">
  	<label class="control-label" for="name">密码： </label><input type="password" name="password"/><br />
	</div>
	<div class="control-group">
    <div class="controls">
      <input type="submit" value="登录" class="btn btn-primary"/>
    </div>
  </div>
         
</form>
<%- include footer %>