<%- include header %>
<ul class="breadcrumb">
  <li><a href="/">首页</a> <span class="divider">/</span></li>
  <li class="active">发表文章</li>
</ul>
<%- include alert %>
<form method="post">
	<label for="title">标题：</label><br />
  <input type="text" name="title" class="input-block-level"/><br />
  <label for="post">正文：</label><br />
  <textarea name="post" rows="20" cols="100" class="input-block-level"></textarea><br />
  <input type="submit" value="发表"  class="btn btn-primary"/>
</form>
<%- include footer %>